.primary-color {
    background-color: green;
}
.logo {
    padding-left: 2rem;
}

/* .label {
    color: white !important;
    font-style: white;
}

#textcolor {
    color: white !important;
    font-style: white;
}

.form-control {
    color: white !important;
    font-style: white;
} */